WeatherApp/Vapi_Workflow.json
{
  "name": "Vapi Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "3f55f846-83b1-409d-b2b8-0d2ab06d5e65",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "ceb0e62a-5c31-435c-9ab1-d8b00765ee8e",
      "name": "Webhook",
      "webhookId": "3f55f846-83b1-409d-b2b8-0d2ab06d5e65"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=What is the weather of  {{ $json.body.message.toolCalls[0].function.arguments.area }}\nonly output one sentence. no newlines.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "84328bcc-ca53-4524-b173-877956ef91e8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "cityName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('City', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [
        460,
        240
      ],
      "id": "149c01bd-f876-4b64-b66d-2f23375aa0e5",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "Ph2ogdl40K0vsFoV",
          "name": "OpenWeatherMap account 4"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        180,
        240
      ],
      "id": "374a93ed-2b4b-4195-966e-765dfc5875cb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BodVGpEzctCrvxXg",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n    \"results\": [\n        {\n            \"toolCallId\": \"{{ $('Webhook').item.json.body.message.toolCalls[0].id }}\",\n            \"result\": \"{{ $json.output }}\"\n        }\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        580,
        0
      ],
      "id": "24de9b2b-ae9e-41a6-b7a6-5a0fe5ed23ed",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
